<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	
	<title>Document</title>
<script src="js/app3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
</script>
	
<script>
	$(document).ready(function(){
   $("form").click(function(evento){
      alert("Muchas gracias por sus preguntas ");

   });

});
</script>

</head>

<body>

<header>
        <nav class="menu-navegacion">
            <div class="logo" style="color: black;">
                LOGO
            </div>
            <div class="menu">
                <a href="servicios.html">Inicio</a>
                <a href="nosotros.html">Nosotros</a>
                <a href="">Servicios</a>
                <a href="realizar.html">Proyectos a Realizar</a>
                <a href="">Proyectos Realizados</a>
                <a href="">Contacto</a>
                <a href="">Nuestra Experiencia</a>
            </div>
            <div class="buscar" style="color: black;">
                <a href="iniciarsesion.html">INICIAR SESIÓN</a>
                <a href="registro.html">REGISTRARSE</a>
            </div>

        </nav>
    </header>

<div class="container">
<div class="main row">
<section class="main row">
<article  class="col-xs-12 col-sm-8 col-md-9">

  <table> <tr> <td>
  <h4 class="container">Ingresar Preguntas y Calificaciones: </h4>
   <p>
 <div>
      <u>
      <h4>

 <b>Preguntas: </b>
      <input type="textArea" height="300" width="300"  ng-model="tusPre" placeholder="escribe aqui">

      <blockquote></blockquote>
<b>Calificación: </b>
      <input type="text" ng-model="tuCal" placeholder="escribe aqui">
      </u>                   
<br/>
      <blockquote></blockquote>
<form>
<input type="button" value="Enviar">
</form>
    </div>

</p>     

</article>

</article>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

<script
  
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

</body>
</html>