@{
    ViewData["Title"] = "Inicio";
}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.acerosarequipa.com/sites/default/files/segmentos/principal/2020-03/constructuras.jpg" class="d-block w-100" alt="..." style="width: 500px; height:500px">
    </div>
    <div class="carousel-item">
       <img src="https://www.eleconomista.com.mx/__export/1576824562067/sites/eleconomista/img/2019/12/20/shutterstock_424808146.jpg_1093282975.jpg" class="d-block w-100" alt="..." style="width: 500px; height:500px">
    </div>
    <div class="carousel-item">
       <img src="https://muchosnegociosrentables.com/wp-content/uploads/2020/11/crear-una-empresa-constructora-pasos.jpg" class="d-block w-100" alt="..." style="width: 500px; height:500px">
    </div>
    <div class="carousel-item">
       <img src="https://www.gimecons.com/wp-content/uploads/2020/12/gimecons-huella-carbono-scaled.jpg" class="d-block w-100" alt="..." style="width: 500px; height:500px">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



  <main id="main">

    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
         
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIAYS5Ku2RfUFiAatHSIbIbgCAI72NkJYAqw&usqp=CAU" class="img-fluid" alt="" data-aos="flip-right" >
        
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="https://lh3.googleusercontent.com/proxy/lsmBz6dcLt7hOgjQ0O9ybz43BFkKec_FO70_oeKdqgb_gsP0GGW7Fz0NUpcia047O9jAIuVsg1JJdEOVw69xyYtRVH8rrw1pwFNrF0Bxo6HSm0JAGhlfTPy5KPCxlDa9QrfjA4EvSjm6L1Xo5ubDsOjQ6V2sfsaK" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="100">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="https://pbs.twimg.com/profile_images/1096512626060918785/W0T04HfA.png" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="200">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="https://i.pinimg.com/236x/3c/35/c8/3c35c8abfd083e6f9f52a2cfb211e43b.jpg" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="300">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="https://cdn5.f-cdn.com/contestentries/1223119/27509587/5a570093331d7_thumb900.jpg" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="400">
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <div class="client-logo">
              <img src="https://thumbs.dreamstime.com/b/plantilla-de-dise%C3%B1o-marca-empresa-construcci%C3%B3n-vectores-y-oficina-arquitectos-ilustraci%C3%B3n-del-logotipo-la-constructora-insignia-206090639.jpg" class="img-fluid" alt="" data-aos="flip-right" data-aos-delay="400">
            </div>
          </div>

        </div>

      </div>
    </section>

    <section id="catalogue" class="catalogue section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Consultoria</h2>
          <p data-aos="fade-in"></p>
        </div>

    
        <p>Brindamos el acompañamiento a las organizaciones en las primeras instancias de conocimiento de su nuevo ambiente de trabajo. Asesoramos en el uso de las nuevas instalaciones y detectamos y damos respuesta a nuevas necesidades no relevadas en las etapas iniciales del proyecto. Solucionamos de manera inmediata cualquier problema producto del uso que podría presentarse en las instalaciones.</p>


        <div class="row catalogue-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 catalogue-item filter-card">
            <div>
               <a  href="">
              <img src="https://www.arquigra.pe/images/services/610031491342e-INMOBILIARI_VISTA09.jpg" class="img-fluid" alt="" style="width: 300px; height: 450px">
                </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 catalogue-item filter-web">
            <div>
                   <a  href="">
              <img src="https://www.arquigra.pe/images/services/61003167dc606-INMOBILIARI_VISTA04.jpg" class="img-fluid" alt="" style="width: 300px; height: 450px">
             </a>
            </div>
          </div>

    <div class="col-lg-4 col-md-6 catalogue-item filter-web">
            <div>
               <a  href=""></a>
              <img src="https://www.comunicarseweb.com/sites/default/files/styles/galeria_noticias/public/pages/industry-798642_1280.jpg?itok=NFlowj43" class="img-fluid" alt="" style="width: 300px; height: 450px">
             </a>
            </div>
          </div>




        </div>

      </div>
    </section>


  <footer class="border-top footer text-muted ">
        <div class="container">
            <div class="row">
                
                <div class="col">
                <h5 style="text-align: left;">&copy; J&W - Planos - Consultoria</h5>
                <p style="font-size: small; text-align: left;">En <strong>ESTUDIO DE ARQUITECTURA J&W</strong> desarrollamos y construimos Proyectos Arquitectónicos por encima de las expectativas de nuestros clientes garantizando Satisfacción de servicio, funcionalidad, alta calidad y timepo de entrega</p>
                 
                </div>
                <div class="col">
                <h5 style="text-align: center;">Servicios</h5>
                <ul class="list">
                    <li>Diseño Arquitectonico</li>
                    <li>Construccion</li>
                    <li>Consultoria</li>
                    <li>Saneamiento fisico y legal</li> 
                </ul>
                </div>
                <div class="col">
                <h5 style="text-align: center;">Contactenos</h5>
                <ul class="list">
                    <li>+54 987456321</li>
                    <li>+54 741258963</li> 
                    <li>arqwjp.12@gmail.com</li>
                </ul>
                </div>
                <div class="col">
                <h5 style="text-align: center;">Redes Sociales</h5>
                <ul class="list">
                    <dt><img src="https://image.similarpng.com/very-thumbnail/2020/04/Facebook-logo-modern-paint-splash-social-media-png.png" width="50px" height="50px" alt="">
                        Facebook                        
                    </dt>
                    <dt><img src="https://eltallerdehector.com/wp-content/uploads/2021/06/Instagram-Logo-png.png" width="50px" height="50px" alt="">
                        Instagram</dt> 
                    <dt><img src="https://i.pinimg.com/236x/48/f3/29/48f329d06faaaf946fea85895a735358.jpg" width="50px" height="50px" alt="">
                        Whatsapp</dt>
                </ul>
                </div> 
                <div class="col">
                <h5 style="text-align: center;">Ubiquenos</h5>
                <ul>
                    <dd>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7803.3842545329!2d-77.10618746693419!3d-12.064691324421883!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6fe528c9ad61f62b!2sESTUDIO%20DE%20ARQUITECTURA%20J%26W!5e0!3m2!1ses-419!2spe!4v1633314411932!5m2!1ses-419!2spe" width="200px" height="200px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </dd>
                </ul>
                </div>      
            </div>
            
        </div>
    </footer>


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>